<div id='home_page'>

  <div class='title'>
    Welcome to <span class='braydens_list'>Brayden's List</span>-
    Home of things you might need and things you might never need.
  </div>

  <div id='intro'>
    Intro
  </div>

  <div class="bucket_area">
    <div class='bucket'>
      <h2>Categories</h2>
      <div class="list">
        asdaldmalsmdasmd
        asdnklasdmnamsdlmaslk
        asda;smd;asmdf po;akspodmaspofmqpoyuftr dxfgchvjbj9u8y 7tfughvjbknliyuftcghv</div>
    </div>

    <div class='bucket'>
      <h2>Top Posts</h2>
      <!-- <div class="blah">Top Posts</div> -->
      <div class="list">
        asdaldmalsmdasmd
        asdnklasdmnamsdlmaslk
        asda;smd;asmdfpo;a kspodmaspofmqpoyuftr dxfgchvjbj9u8y7tfughv jbknliyuftcghv</div>
    </div>
  </div>

</div>


